In [1]:
import os
import numpy as np
import pandas as pd

import tensorflow as tf
from sklearn.preprocessing import MinMaxScaler
from sklearn.pipeline import Pipeline
from sklearn.preprocessing import OrdinalEncoder
from sklearn.model_selection import train_test_split
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import Dense, Dropout
from tensorflow.keras.models import model_from_json
from keras import regularizers

tf.keras.backend.set_floatx('float32')

In [2]:
# read in data:
df = pd.read_csv('/content/drive/MyDrive/AB_US_2020.csv')
df.shape

/usr/local/lib/python3.7/dist-packages/IPython/core/interactiveshell.py:2718: DtypeWarning: Columns (4) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

(226030, 17)

In [3]:
df.columns

Index(['id', 'name', 'host_id', 'host_name', 'neighbourhood_group',
       'neighbourhood', 'latitude', 'longitude', 'room_type', 'price',
       'minimum_nights', 'number_of_reviews', 'last_review',
       'reviews_per_month', 'calculated_host_listings_count',
       'availability_365', 'city'],
      dtype='object')

In [4]:
# Drop Unusable columns
columns = ['id',
           'neighbourhood_group',
           'last_review',
           'reviews_per_month',
           'name',
           'host_name',
           'latitude',
           'longitude',
           'number_of_reviews',
           'host_id',
           'calculated_host_listings_count']

df = df.drop(columns, axis=1)
df.shape

(226030, 6)

In [20]:
df

                                            neighbourhood  ...             city
0                                                   28804  ...        Asheville
1                                                   28801  ...        Asheville
2                                                   28801  ...        Asheville
3                                                   28806  ...        Asheville
4                                                   28801  ...        Asheville
...                                                   ...  ...              ...
226025  Downtown, Chinatown, Penn Quarters, Mount Vern...  ...  Washington D.C.
226026                      Brookland, Brentwood, Langdon  ...  Washington D.C.
226027                                 Shaw, Logan Circle  ...  Washington D.C.
226028     Kalorama Heights, Adams Morgan, Lanier Heights  ...  Washington D.C.
226029  Edgewood, Bloomingdale, Truxton Circle, Eckington  ...  Washington D.C.

[212300 rows x 6 columns]

In [5]:
# factorize non-numeric categorical data,
# simple process on data for preparation to train

cat_cols = ['neighbourhood', 'room_type', 'city']

# enc = OrdinalEncoder()


# df['neighbourhood'] = pd.factorize(df.neighbourhood)[0]
# df['room_type'] = pd.factorize(df.room_type)[0]
# df['city'] = pd.factorize(df.city)[0]
# df['price'] = df['price'].astype(float)

df = df[df['price'] <= 501]

df.shape

(212300, 6)

In [6]:
df.isnull().sum()

neighbourhood       0
room_type           0
price               0
minimum_nights      0
availability_365    0
city                0
dtype: int64

In [22]:
df1 = df.groupby('city').neighbourhood.apply(list).reset_index(name='neighborhood_list')
df1.to_csv('city_neighborhood.csv')
# df1

In [7]:
# enc = OrdinalEncoder()

# df_cat = df[cat_cols]

# df_cat = enc.fit_transform(df_cat)

In [8]:
# from sklearn.preprocessing import OneHotEncoder

# ohenc = OneHotEncoder()

# df_cat_oh = ohenc.fit_transform(df_cat)

In [9]:
# num_vars = ['availability_365']

# df_num = df[num_vars]

In [10]:
# MMS = MinMaxScaler()

# scaled = MMS.fit_transform(df_num)
# scaled

In [11]:
# num_pipeline = Pipeline([
#                          ('minmaxscaler', MMS)
# ])

# num_transformed = num_pipeline.fit_transform(df_num)

In [12]:
# from sklearn.compose import ColumnTransformer

# data_pipeline = ColumnTransformer([
#                                    ('numerical', num_pipeline, num_vars),
#                                    ('categorical', enc, cat_cols)
# ])

# df_proc = data_pipeline.fit_transform(df)

In [13]:
# df_proc

In [7]:
MMS = MinMaxScaler()
enc = OrdinalEncoder()

dfcat = df[cat_cols]
dfcat = enc.fit_transform(dfcat)

In [8]:
dfcat

array([[   5.,    2.,    0.],
       [   3.,    0.,    0.],
       [   3.,    0.,    0.],
       ...,
       [1158.,    0.,   27.],
       [ 675.,    0.,   27.],
       [ 448.,    0.,   27.]])

In [9]:
dfnum = df[['availability_365', 'minimum_nights']].values

In [10]:
dfnum

array([[  0,   1],
       [288,   1],
       [298,  30],
       ...,
       [173,   2],
       [362,  21],
       [ 62,   7]])

In [11]:
df_joined = np.append(dfcat, dfnum, axis=1)
df_joined

array([[5.000e+00, 2.000e+00, 0.000e+00, 0.000e+00, 1.000e+00],
       [3.000e+00, 0.000e+00, 0.000e+00, 2.880e+02, 1.000e+00],
       [3.000e+00, 0.000e+00, 0.000e+00, 2.980e+02, 3.000e+01],
       ...,
       [1.158e+03, 0.000e+00, 2.700e+01, 1.730e+02, 2.000e+00],
       [6.750e+02, 0.000e+00, 2.700e+01, 3.620e+02, 2.100e+01],
       [4.480e+02, 0.000e+00, 2.700e+01, 6.200e+01, 7.000e+00]])

In [12]:
df_scaled = MMS.fit_transform(df_joined)

In [13]:
df_scaled

array([[3.45542502e-03, 6.66666667e-01, 0.00000000e+00, 0.00000000e+00,
        0.00000000e+00],
       [2.07325501e-03, 0.00000000e+00, 0.00000000e+00, 7.89041096e-01,
        0.00000000e+00],
       [2.07325501e-03, 0.00000000e+00, 0.00000000e+00, 8.16438356e-01,
        2.90000003e-07],
       ...,
       [8.00276434e-01, 0.00000000e+00, 1.00000000e+00, 4.73972603e-01,
        1.00000001e-08],
       [4.66482377e-01, 0.00000000e+00, 1.00000000e+00, 9.91780822e-01,
        2.00000002e-07],
       [3.09606082e-01, 0.00000000e+00, 1.00000000e+00, 1.69863014e-01,
        6.00000006e-08]])

In [14]:
# Set target variables for training
target = ['price']
df_low = df.drop(target, axis=1)
X = df_scaled
Y = df[target].values

print(X.shape, Y.shape)

(212300, 5) (212300, 1)

In [15]:
X

array([[3.45542502e-03, 6.66666667e-01, 0.00000000e+00, 0.00000000e+00,
        0.00000000e+00],
       [2.07325501e-03, 0.00000000e+00, 0.00000000e+00, 7.89041096e-01,
        0.00000000e+00],
       [2.07325501e-03, 0.00000000e+00, 0.00000000e+00, 8.16438356e-01,
        2.90000003e-07],
       ...,
       [8.00276434e-01, 0.00000000e+00, 1.00000000e+00, 4.73972603e-01,
        1.00000001e-08],
       [4.66482377e-01, 0.00000000e+00, 1.00000000e+00, 9.91780822e-01,
        2.00000002e-07],
       [3.09606082e-01, 0.00000000e+00, 1.00000000e+00, 1.69863014e-01,
        6.00000006e-08]])

In [49]:
# enc = OrdinalEncoder()
# MMS = MinMaxScaler()

# X_enc = enc.fit_transform(X)
# X = MMS.fit_transform(X_enc)
# X

In [50]:
# X

In [16]:
# Train/Test Split:

X_train, X_test, y_train, y_test = train_test_split(X, Y, test_size=0.2, shuffle=True, random_state=42)

print(X_train.shape, X_test.shape)
print(y_train.shape, y_test.shape)

(169840, 5) (42460, 5)
(169840, 1) (42460, 1)

In [17]:
# Set regularization and NN features:
learn_rate_reducer = tf.keras.callbacks.ReduceLROnPlateau(monitor='val_loss', patience=2, factor=0.2, min_lr=0.001, cooldown=2)
early_stop = tf.keras.callbacks.EarlyStopping(patience=5, restore_best_weights=True)

callbacks = [learn_rate_reducer, early_stop]

rmse = tf.keras.metrics.RootMeanSquaredError()

In [18]:
# Model:

nn = Sequential()

nn.add(Dense(128, input_shape=(X_train.shape[1],), kernel_regularizer=regularizers.l1(0.005), activation='relu'))
nn.add(Dropout(0.25))
nn.add(Dense(256, kernel_regularizer=regularizers.l1(0.005), activation='relu'))
nn.add(Dropout(0.4))
nn.add(Dense(512, kernel_regularizer=regularizers.l1(0.005), activation='relu'))
nn.add(Dropout(0.25))
nn.add(Dense(64, kernel_regularizer=regularizers.l1(0.005), activation='relu'))
nn.add(Dense(1, activation='linear'))

nn.compile(loss='mean_squared_error',
           optimizer='nadam',
           metrics=['mean_absolute_error', rmse])

# Model summary:
print(nn.summary())

Model: "sequential"
_________________________________________________________________
Layer (type)                 Output Shape              Param #
=================================================================
dense (Dense)                (None, 128)               768
_________________________________________________________________
dropout (Dropout)            (None, 128)               0
_________________________________________________________________
dense_1 (Dense)              (None, 256)               33024
_________________________________________________________________
dropout_1 (Dropout)          (None, 256)               0
_________________________________________________________________
dense_2 (Dense)              (None, 512)               131584
_________________________________________________________________
dropout_2 (Dropout)          (None, 512)               0
_________________________________________________________________
dense_3 (Dense)              (None, 64)                32832
_________________________________________________________________
dense_4 (Dense)              (None, 1)                 65
=================================================================
Total params: 198,273
Trainable params: 198,273
Non-trainable params: 0
_________________________________________________________________
None

In [19]:
history = nn.fit(X_train,
                 y_train,
                 epochs=50,
                 batch_size=64,
                 validation_data=(X_test, y_test),
                 callbacks=callbacks)

Epoch 1/50
2654/2654 [==============================] - 26s 9ms/step - loss: 9323.1010 - mean_absolute_error: 69.6200 - root_mean_squared_error: 95.8844 - val_loss: 7869.3169 - val_mean_absolute_error: 63.9599 - val_root_mean_squared_error: 88.5164
Epoch 2/50
2654/2654 [==============================] - 24s 9ms/step - loss: 8268.3989 - mean_absolute_error: 65.9686 - root_mean_squared_error: 90.7401 - val_loss: 7866.5361 - val_mean_absolute_error: 66.2702 - val_root_mean_squared_error: 88.5127
Epoch 3/50
2654/2654 [==============================] - 25s 9ms/step - loss: 8183.2897 - mean_absolute_error: 65.5536 - root_mean_squared_error: 90.2848 - val_loss: 7936.5161 - val_mean_absolute_error: 67.0541 - val_root_mean_squared_error: 88.9056
Epoch 4/50
2654/2654 [==============================] - 25s 9ms/step - loss: 8123.0251 - mean_absolute_error: 65.3642 - root_mean_squared_error: 89.9489 - val_loss: 7798.5161 - val_mean_absolute_error: 63.8159 - val_root_mean_squared_error: 88.1264
Epoch 5/50
2654/2654 [==============================] - 25s 10ms/step - loss: 8065.3256 - mean_absolute_error: 65.1185 - root_mean_squared_error: 89.6262 - val_loss: 7755.6606 - val_mean_absolute_error: 64.0544 - val_root_mean_squared_error: 87.8866
Epoch 6/50
2654/2654 [==============================] - 25s 9ms/step - loss: 8060.1797 - mean_absolute_error: 64.9947 - root_mean_squared_error: 89.6025 - val_loss: 7755.4839 - val_mean_absolute_error: 64.0881 - val_root_mean_squared_error: 87.8926
Epoch 7/50
2654/2654 [==============================] - 25s 9ms/step - loss: 8000.9160 - mean_absolute_error: 64.8240 - root_mean_squared_error: 89.2774 - val_loss: 7748.7607 - val_mean_absolute_error: 63.9466 - val_root_mean_squared_error: 87.8584
Epoch 8/50
2654/2654 [==============================] - 26s 10ms/step - loss: 8024.0171 - mean_absolute_error: 65.0246 - root_mean_squared_error: 89.4071 - val_loss: 7752.8018 - val_mean_absolute_error: 64.1226 - val_root_mean_squared_error: 87.8793
Epoch 9/50
2654/2654 [==============================] - 26s 10ms/step - loss: 8041.3595 - mean_absolute_error: 65.0696 - root_mean_squared_error: 89.5037 - val_loss: 7819.1812 - val_mean_absolute_error: 62.2857 - val_root_mean_squared_error: 88.2561
Epoch 10/50
2654/2654 [==============================] - 26s 10ms/step - loss: 8084.9247 - mean_absolute_error: 65.1910 - root_mean_squared_error: 89.7458 - val_loss: 7814.0728 - val_mean_absolute_error: 66.5820 - val_root_mean_squared_error: 88.2227
Epoch 11/50
2654/2654 [==============================] - 25s 10ms/step - loss: 8029.6340 - mean_absolute_error: 64.9375 - root_mean_squared_error: 89.4361 - val_loss: 7736.5020 - val_mean_absolute_error: 62.9419 - val_root_mean_squared_error: 87.7811
Epoch 12/50
2654/2654 [==============================] - 25s 9ms/step - loss: 8015.8481 - mean_absolute_error: 64.8292 - root_mean_squared_error: 89.3555 - val_loss: 7721.4365 - val_mean_absolute_error: 64.6989 - val_root_mean_squared_error: 87.6945
Epoch 13/50
2654/2654 [==============================] - 26s 10ms/step - loss: 7984.2580 - mean_absolute_error: 64.8163 - root_mean_squared_error: 89.1771 - val_loss: 7711.3623 - val_mean_absolute_error: 63.8955 - val_root_mean_squared_error: 87.6360
Epoch 14/50
2654/2654 [==============================] - 25s 10ms/step - loss: 8004.4667 - mean_absolute_error: 64.7895 - root_mean_squared_error: 89.2912 - val_loss: 7741.0532 - val_mean_absolute_error: 62.4358 - val_root_mean_squared_error: 87.8059
Epoch 15/50
2654/2654 [==============================] - 27s 10ms/step - loss: 8018.8010 - mean_absolute_error: 64.9043 - root_mean_squared_error: 89.3701 - val_loss: 7690.0952 - val_mean_absolute_error: 63.3249 - val_root_mean_squared_error: 87.5117
Epoch 16/50
2654/2654 [==============================] - 25s 9ms/step - loss: 8006.5393 - mean_absolute_error: 64.8571 - root_mean_squared_error: 89.3001 - val_loss: 7724.7788 - val_mean_absolute_error: 64.9551 - val_root_mean_squared_error: 87.7070
Epoch 17/50
2654/2654 [==============================] - 25s 10ms/step - loss: 7939.0101 - mean_absolute_error: 64.6290 - root_mean_squared_error: 88.9207 - val_loss: 7723.5483 - val_mean_absolute_error: 62.1316 - val_root_mean_squared_error: 87.7028
Epoch 18/50
2654/2654 [==============================] - 26s 10ms/step - loss: 7943.2145 - mean_absolute_error: 64.6925 - root_mean_squared_error: 88.9400 - val_loss: 7881.1411 - val_mean_absolute_error: 61.1906 - val_root_mean_squared_error: 88.5996
Epoch 19/50
2654/2654 [==============================] - 25s 9ms/step - loss: 7937.9857 - mean_absolute_error: 64.5471 - root_mean_squared_error: 88.9145 - val_loss: 7698.7666 - val_mean_absolute_error: 64.8556 - val_root_mean_squared_error: 87.5595
Epoch 20/50
2654/2654 [==============================] - 24s 9ms/step - loss: 7882.6473 - mean_absolute_error: 64.2597 - root_mean_squared_error: 88.5998 - val_loss: 7672.6113 - val_mean_absolute_error: 63.3856 - val_root_mean_squared_error: 87.4107
Epoch 21/50
2654/2654 [==============================] - 24s 9ms/step - loss: 7927.9315 - mean_absolute_error: 64.5286 - root_mean_squared_error: 88.8588 - val_loss: 7676.0815 - val_mean_absolute_error: 63.5536 - val_root_mean_squared_error: 87.4301
Epoch 22/50
2654/2654 [==============================] - 25s 9ms/step - loss: 8005.1441 - mean_absolute_error: 64.8523 - root_mean_squared_error: 89.2905 - val_loss: 7683.6357 - val_mean_absolute_error: 64.6428 - val_root_mean_squared_error: 87.4713
Epoch 23/50
2654/2654 [==============================] - 25s 9ms/step - loss: 7906.2946 - mean_absolute_error: 64.4064 - root_mean_squared_error: 88.7343 - val_loss: 7685.9507 - val_mean_absolute_error: 64.8887 - val_root_mean_squared_error: 87.4826
Epoch 24/50
2654/2654 [==============================] - 25s 9ms/step - loss: 7992.6632 - mean_absolute_error: 64.8579 - root_mean_squared_error: 89.2187 - val_loss: 7658.4878 - val_mean_absolute_error: 63.3586 - val_root_mean_squared_error: 87.3259
Epoch 25/50
2654/2654 [==============================] - 25s 9ms/step - loss: 7934.7163 - mean_absolute_error: 64.4549 - root_mean_squared_error: 88.8908 - val_loss: 7651.9795 - val_mean_absolute_error: 63.4153 - val_root_mean_squared_error: 87.2916
Epoch 26/50
2654/2654 [==============================] - 24s 9ms/step - loss: 7995.4189 - mean_absolute_error: 64.7889 - root_mean_squared_error: 89.2356 - val_loss: 7665.7671 - val_mean_absolute_error: 62.9676 - val_root_mean_squared_error: 87.3714
Epoch 27/50
2654/2654 [==============================] - 25s 9ms/step - loss: 7956.7526 - mean_absolute_error: 64.6099 - root_mean_squared_error: 89.0201 - val_loss: 7672.4580 - val_mean_absolute_error: 62.3913 - val_root_mean_squared_error: 87.4113
Epoch 28/50
2654/2654 [==============================] - 25s 10ms/step - loss: 7942.6892 - mean_absolute_error: 64.5487 - root_mean_squared_error: 88.9392 - val_loss: 7639.0679 - val_mean_absolute_error: 63.2736 - val_root_mean_squared_error: 87.2203
Epoch 29/50
2654/2654 [==============================] - 25s 9ms/step - loss: 7954.5067 - mean_absolute_error: 64.6735 - root_mean_squared_error: 89.0081 - val_loss: 7681.0957 - val_mean_absolute_error: 62.4185 - val_root_mean_squared_error: 87.4606
Epoch 30/50
2654/2654 [==============================] - 24s 9ms/step - loss: 7914.4888 - mean_absolute_error: 64.3727 - root_mean_squared_error: 88.7836 - val_loss: 7682.1802 - val_mean_absolute_error: 65.0537 - val_root_mean_squared_error: 87.4673
Epoch 31/50
2654/2654 [==============================] - 25s 9ms/step - loss: 7936.3588 - mean_absolute_error: 64.4849 - root_mean_squared_error: 88.9091 - val_loss: 7640.7881 - val_mean_absolute_error: 63.2280 - val_root_mean_squared_error: 87.2306
Epoch 32/50
2654/2654 [==============================] - 25s 10ms/step - loss: 7950.3018 - mean_absolute_error: 64.5592 - root_mean_squared_error: 88.9805 - val_loss: 7643.7368 - val_mean_absolute_error: 63.5089 - val_root_mean_squared_error: 87.2479
Epoch 33/50
2654/2654 [==============================] - 25s 9ms/step - loss: 7883.8120 - mean_absolute_error: 64.4161 - root_mean_squared_error: 88.6105 - val_loss: 7654.3691 - val_mean_absolute_error: 62.5304 - val_root_mean_squared_error: 87.3112

In [23]:
# Serialize Model to JSON:
import joblib

np.random.seed(12)

model_json = nn.to_json()
with open("nn.json", "w") as json_file:
  json_file.write(model_json)

nn.save_weights('nn.h5')

joblib.dump(MMS, 'MMS.gz')
joblib.dump(enc, 'encoder.gz')

['encoder.gz']

In [24]:
# Load Serialized Model to Reuse:

json_file = open('nn.json', 'r')
loaded_model_json = json_file.read()
json_file.close()

loaded_model = model_from_json(loaded_model_json)
loaded_model.load_weights('nn.h5')

In [53]:
# # Test on prediction:

# pred = np.array([[0,2,2,300,20]])
# prediction = data_pipeline.transform(pred)
# # transformed_prediction = MMS.transform(encoded_prediction)

In [72]:
# Original Model:

nn.predict(transformed_prediction)[0][0]

185.5262

In [54]:
# # Loaded Model w/ saved weights:

# loaded_model.predict(transformed_prediction)[0][0]

In [50]:
import joblib

def predict_opt_price(neighborhood, room_type, city, availability_365, minimum_nights):
  # Import weights and load model to predict:
  json_file = open('nn.json', 'r')
  loaded_model_json = json_file.read()
  json_file.close()

  loaded_model = model_from_json(loaded_model_json)
  loaded_model.load_weights('nn.h5')

  # Load Transformations:
  MMS = joblib.load('MMS.gz')
  enc = joblib.load('encoder.gz')
  # raw_data = np.array([[neighborhood, room_type, minimum_nights, availability_365, city]])
  catcols = np.array([[neighborhood, room_type, city]])
  numcols = np.array([[availability_365, minimum_nights]])

  s1 = enc.transform(catcols)

  array_joined = np.append(s1, numcols, axis=1)

  transformed = MMS.transform(array_joined)

  prediction = loaded_model.predict(transformed)[0][0]

  return prediction

In [52]:
predict_opt_price(neighborhood='Madrona', room_type='Entire home/apt', minimum_nights=5, availability_365=70, city='Seattle')

155.16331

In [46]:
# enc.categories_

[array(['28704', '28715', '28732', ..., 'Wright', 'Yesler Terrace',
        'Yosemite Dr'], dtype=object),
 array(['Entire home/apt', 'Hotel room', 'Private room', 'Shared room'],
       dtype=object),
 array(['Asheville', 'Austin', 'Boston', 'Broward County', 'Cambridge',
        'Chicago', 'Clark County', 'Columbus', 'Denver', 'Hawaii',
        'Jersey City', 'Los Angeles', 'Nashville', 'New Orleans',
        'New York City', 'Oakland', 'Pacific Grove', 'Portland',
        'Rhode Island', 'Salem', 'San Clara Country', 'San Diego',
        'San Francisco', 'San Mateo County', 'Santa Cruz County',
        'Seattle', 'Twin Cities MSA', 'Washington D.C.'], dtype=object)]

In [48]:
df1

                 city                                  neighborhood_list
0           Asheville  [28804, 28801, 28801, 28806, 28801, 28804, 288...
1              Austin  [78702, 78702, 78702, 78704, 78729, 78704, 787...
2              Boston  [East Boston, Roxbury, Roxbury, Downtown, Back...
3      Broward County  [Fort Lauderdale, Hollywood, Hallandale Beach,...
4           Cambridge  [West Cambridge, North Cambridge, North Cambri...
5             Chicago  [Hyde Park, South Lawndale, West Town, Lincoln...
6        Clark County  [Unincorporated Areas, Unincorporated Areas, U...
7            Columbus  [Near North/University, Near North/University,...
8              Denver  [Virginia Village, Highland, Five Points, Nort...
9              Hawaii  [Hamakua, South Kohala, South Kona, North Kona...
10        Jersey City  [Ward E (councilmember James Solomon), Ward C ...
11        Los Angeles  [Culver City, Burbank, Hollywood, Santa Monica...
12          Nashville  [District 6, District 7, District 7, District ...
13        New Orleans  [Navarre, Leonidas, Marigny, St. Claude, St. R...
14      New York City  [Midtown, Clinton Hill, Bedford-Stuyvesant, Su...
15            Oakland  [Prescott, Oakland Ave-Harrison St, Shafter, S...
16      Pacific Grove  [Pacific Grove, Pacific Grove, Pacific Grove, ...
17           Portland  [Pearl, Hayhurst, Pearl, Woodlawn, Roseway, La...
18       Rhode Island  [Glocester, Narragansett, Pawtucket, Pawtucket...
19              Salem  [Ward 1, Ward 3, Ward 7, Ward 1, Ward 2, Ward ...
20  San Clara Country  [Palo Alto, Santa Clara, Mountain View, Palo A...
21          San Diego  [Pacific Beach, Roseville, North Hills, La Jol...
22      San Francisco  [Western Addition, Bernal Heights, Haight Ashb...
23   San Mateo County  [Menlo Park, Pacifica, Burlingame, Burlingame,...
24  Santa Cruz County  [Unincorporated Areas, City of Santa Cruz, Cit...
25            Seattle  [Madrona, Georgetown, Fairmount Park, Fairmoun...
26    Twin Cities MSA  [Hennepin, Hennepin, Hennepin, Hennepin, Ramse...
27    Washington D.C.  [Historic Anacostia, Edgewood, Bloomingdale, T...